<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/87534dffde.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>kitchening</title>
</head>
<body>
    <header class="home__header">
        <div class="home__header__img--logo">
            <img src="/img/logo.jpg" alt="logo">
        </div>
        <nav class="home__header--nav--menu">
            <a class="home__header__a--bars" href=""><i class="fa-solid fa-bars"></i></a>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/">QUIENES</a></li>
                <li><a href="/">SERVICIOS</a></li>
                <li><a href="/">PORTFOLIO</a></li>
                <li><a href="/">SUCURSALES</a></li>
                <li><a href="/">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main class="home__main">
        <div class="home__main--banner"><img src="/img/img-banner.jpg" alt=""></div>
        <div class="home__main__section--productos">
            <article class="home__main__section--products">
                <div class="home__main__section--products-box">
                    <img class="home__main__section--productos-images" src="/img/img-pdto-1.jpg" alt="article-1">
                    <img class="home__main__section--productos-stickers" src="/img/img-nuevo.png" alt="">
                        <a href="">AMPLIAR IMAGEN</a>
                </div>
                <h3 class="home__main__section--productos-title">Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nisi laboriosam cum vero animi amet voluptatum ab! Quaerat esse reprehenderit, neque, cumque eum molestias deserunt pariatur labore maxime ipsam officiis?</p>
                <a class="home__main__section--productos-button" href="">Ver mas</a>
            </article>
            <article class="home__main__section--products">
                <div class="home__main__section--products-box">
                    <img class="home__main__section--productos-images" src="/img/img-pdto-2.jpg" alt="article-2">
                    <img class="home__main__section--productos-stickers" src="/img/img-gratis.png" alt="">
                    <a >AMPLIAR IMAGEN</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nisi laboriosam cum vero animi amet voluptatum ab! Quaerat esse reprehenderit, neque, cumque eum molestias deserunt pariatur labore maxime ipsam officiis?</p>
                <a class="home__main__section--productos-button" href="">Ver mas</a>
            </article>
            <article class="home__main__section--products">
                <div class="home__main__section--products-box">
                    <img class="home__main__section--productos-images" src="/img/img-pdto-3.jpg" alt="article-3">
                    <img class="home__main__section--productos-stickers" src="/img/img-descuento.png" alt="">
                    <a href="">AMPLIAR IMAGEN</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nisi laboriosam cum vero animi amet voluptatum ab! Quaerat esse reprehenderit, neque, cumque eum molestias deserunt pariatur labore maxime ipsam officiis?</p>
                <a class="home__main__section--productos-button" href="">Ver mas</a>
            </article>
            <article class="home__main__section--products">
                <div class="home__main__section--products-box">
                    <img class="home__main__section--productos-images" src="/img/img-pdto-1.jpg" alt="article-4">
                    <img class="home__main__section--productos-stickers" src="/img/img-nuevo.png" alt="">
                    <a href="">AMPLIAR IMAGEN</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nisi laboriosam cum vero animi amet voluptatum ab! Quaerat esse reprehenderit, neque, cumque eum molestias deserunt pariatur labore maxime ipsam officiis?</p>
                <a class="home__main__section--productos-button" href="">Ver mas</a>
            </article>
            <article class="home__main__section--products">
                <div class="home__main__section--products-box">
                    <img class="home__main__section--productos-images" src="/img/img-pdto-2.jpg" alt="article-5">
                    <img class="home__main__section--productos-stickers" src="/img/img-gratis.png" alt="">
                    <a href="">AMPLIAR IMAGEN</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nisi laboriosam cum vero animi amet voluptatum ab! Quaerat esse reprehenderit, neque, cumque eum molestias deserunt pariatur labore maxime ipsam officiis?</p>
                <a class="home__main__section--productos-button" href="">Ver mas</a>
            </article>
            <article class="home__main__section--products">
                <div class="home__main__section--products-box">
                    <img class="home__main__section--productos-images" src="/img/img-pdto-3.jpg" alt="article-6">
                    <img class="home__main__section--productos-stickers" src="/img/img-descuento.png" alt="">
                    <a href="">AMPLIAR IMAGEN</a>
                </div>
                <h3>Lorem ipsum amet</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nisi laboriosam cum vero animi amet voluptatum ab! Quaerat esse reprehenderit, neque, cumque eum molestias deserunt pariatur labore maxime ipsam officiis?</p>
                <a class="home__main__section--productos-button" href="">Ver mas</a>
            </article>
        </div>
    </main>
</body>
<footer class="home__footer">
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/">QUIENES</a></li>
            <li><a href="/">SERVICIOS</a></li>
            <li><a href="/">PORTFOLIO</a></li>
            <li><a href="/">SUCURSALES</a></li>
            <li><a href="/">CONTACTO</a></li>
        </ul>
    </nav>
</footer>
</html>